.todo-card__buttons {
  align-self: flex-end;
  display: flex;
  column-gap: 0.5em;
}

i.bi {
  pointer-events: none;
}

.todo-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5em;
}

$imageSize: 150px;

.todo-content__image {
  min-width: $imageSize;
  min-height: $imageSize;
}

.todo-text {
  margin: 0.5em;
  font-size: 120%;
}