@import '~bootstrap';
@import '~bootstrap-icons';
// @import '~bootstrap-icons/font/bootstrap-icons';

@import '_todo-card.scss';
@import '_tags-filter.scss';


#todos {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
  row-gap: 1em;
  align-items: flex-start;
  // padding: 1.5em;
}

#edit-todo-modal-spinner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease;
  opacity: 0;
  pointer-events: none;
}

i.bi {
  pointer-events: none;
}